Source: ros-noetic-willow-maps
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://pr.willowgarage.com/wiki/willow_maps
Standards-Version: 3.9.2

Package: ros-noetic-willow-maps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Holds maps of Willow Garage that can be used for a number of different applications.
